MachineLink.DesktopClient/Service References/MachineLinkServiceReference/MachineLink3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20101/MachineLink?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MachineLink.Service" />
  <xs:element name="DownloadProgram">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MachineLink.Service" minOccurs="0" name="DownloadProgramResult" nillable="true" type="q1:DownloadProgramResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>