MachineLink.DesktopClient/Service References/MachineLinkService/MachineLinkService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MachineLinkService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:20101/MachineLink?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:20101/MachineLink?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:20101/MachineLink?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MachineLink.Service" />
      <xsd:import schemaLocation="http://localhost:20101/MachineLink?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMachineLinkService_DownloadProgram_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadProgram" />
  </wsdl:message>
  <wsdl:message name="IMachineLinkService_DownloadProgram_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadProgramResponse" />
  </wsdl:message>
  <wsdl:message name="IMachineLinkService_TestMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:TestMethod" />
  </wsdl:message>
  <wsdl:message name="IMachineLinkService_TestMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="IMachineLinkService">
    <wsdl:operation name="DownloadProgram">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachineLinkService/DownloadProgram" message="tns:IMachineLinkService_DownloadProgram_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachineLinkService/DownloadProgramResponse" message="tns:IMachineLinkService_DownloadProgram_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachineLinkService/TestMethod" message="tns:IMachineLinkService_TestMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachineLinkService/TestMethodResponse" message="tns:IMachineLinkService_TestMethod_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMachineLinkService" type="tns:IMachineLinkService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadProgram">
      <soap:operation soapAction="http://tempuri.org/IMachineLinkService/DownloadProgram" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestMethod">
      <soap:operation soapAction="http://tempuri.org/IMachineLinkService/TestMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MachineLinkService">
    <wsdl:port name="BasicHttpBinding_IMachineLinkService" binding="tns:BasicHttpBinding_IMachineLinkService">
      <soap:address location="http://localhost:20101/MachineLink/MachineLink" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>